{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2><i class="bi-question-square-fill" role="img"></i> Правила сайта</h2>
    <div class="alert alert-info" role="alert">
        <p align=justify><b>Внимание!</b> Регистрируясь на сайте, вы тем самым подтверждаете, что прочитали
            эти правила, согласны со всеми пунктами и обязуетесь их выполнять. Администрация сайта оставляет за собой
            право временно блокировать регистрационные записи нарушителей, либо (в случае постоянных грубых нарушений)
            удалять их.</p>

        <h4>Авторское право и ответственность</h4>

        <p align=justify>Любые фотографии, тексты и прочие материалы, опубликованные участниками на этом сайте,
            защищаются авторским правом наравне с другими формами публикации. В случае отсутствия в опубликованном
            материале знака копирайта и/или прямого указания на авторство, обладателем авторских прав по умолчанию
            считается участник, поместивший материал на сайт.</p>

        <p align=justify>Администрация сайта предполагает, что отправители фотографий, их владельцы, авторы,
            лица, изображенные на фотографиях, а также прочие заинтересованные стороны самостоятельно урегулировали
            между собой вопросы публикации, а также все материальные и иные вопросы и не будут иметь претензий к
            администрации сайта.</p>

        <p align=justify>Администрация сайта снимает с себя ответственность за все юридические, материальные
            и прочие вопросы публикации материалов. Ответственность несёт лицо, приславшее фотографию или иной
            материал.</p>

        <p align=justify>Администрация сайта не несёт ответственность за возможное неправомерное использование
            авторских работ посетителями сайта. Просим авторов, присылающих свои материалы, иметь в виду это
            обстоятельство.</p>

        <p align=justify>Администрация сайта не несет ответственности за содержание присылаемых работ и
            комментариев.</p>

        <p align=justify>Факт публикации изображений и других материалов на сайте означает согласие с этими
            условиями.</p>

        <h4>Поведение пользователей</h4>

        <p align=justify>Зарегистрированные пользователи могут писать комментарии к фотографиям других авторов.
            Администрация убедительно просит подходить к написанию комментариев вдумчиво и придерживаться общепринятых
            норм поведения.
            Будьте взаимно вежливы и терпимы! При написании текстов пользователям настоятельно рекомендуется соблюдение
            норм правописания русского языка.

            <br><br><b>У нас запрещены:</b></p>
        <ul>
            <li>Плагиат. Авторы, разместившие чужие работы, блокируются и удаляются.</li>
            <li>Регистрация более одного аккаунта одним автором.</li>
            <li>Регистрация и использование одного аккаунта группой авторов.</li>
            <li>Ругательства и нецензурные выражения, а также просто замечания в грубой, обидной для других
                пользователей форме.
            </li>
            <li>Флуд (объемные малосодержательные сообщения) и флейм (словесные перебранки, не имеющие отношения к
                первоначальной теме).
            </li>
        </ul>

        <h4>Размещение фотографий и комментариев</h4>

        <p align=justify>К размещению на сайте принимаются только файлы формата
            <b>JPG, PNG, GIF</b> объемом не более <b>{{max_size}}</b> Мбайт.</p>
        <p align=justify>Фотография может быть удалена приславшим ее автором в любой
            момент. Администрация сайта также оставляет за собой право удалить в любой
            момент любую фотографию, если ее содержание нарушает действующее законодательство.
            Вместе с удалением фотографии с сайта удаляются все комментарии,
            сделанные к ней посетителями сайта.</p>
        <p align=justify>Зарегистрированный автор может размещать комментарии под любой фотографией на сайте.
            Удалить комментарий может разместивший его автор, либо автор, под чьей фотографией он размещен.
            Администрация сайта также оставляет за собой право удалить в любой
            момент любой комментарий, если его содержание нарушает действующее законодательство или правила сайта.
        </p>
    </div>
</div>
{% endblock %}
